{% extends "base.html" %}

{% block body %}

<script>
function nopmi() {
  document.getElementById("pmiorurl").innerHTML = '<span id="url"></span><input type="text" id="urlID" name="urlID" required>';
}

function pmi() {
  document.getElementById("pmiorurl").innerHTML = '';
}

function displayURL(meetingApp)
{
  if (meetingApp == "zoom") {
    document.getElementById("url").innerHTML = 'https://zoom.us/j/';
  } else if (meetingApp == "skype") {
    document.getElementById("url").innerHTML = 'Skype URL: ';
  } else if (meetingApp == "jitsi") {
    document.getElementById("url").innerHTML = 'Jitsi URL: ';
  } else if (meetingApp == "webex") {
    document.getElementById("url").innerHTML = 'Webex URL: ';
  } else if (meetingApp == "gmeet") {
    document.getElementById("url").innerHTML = 'https://meet.google.com/';
  }
}
</script>
<div class="w3-container">

<h1>{{strings['ADD_A_MEETING']}}</h1>

<form method="POST">
<label for="class">{{strings['DATE']}}</label>
<input type="date" id="date" name="date" value="{{date}}" required></input>

<br><p></p><br>
<label for="classname">{{strings['PICK_A_CLASS']}}</label>
<select id="classname" name="classname" value="{{className}}">
{% for class in classes %}
  <option value="{{ class.name }}">{{ class.name }}</option>
{% endfor %}
</select>

<p></p>
<label for="hour">{{strings['PICK_A_HOUR']}}</label>
<select id="hour" name="hour" value="{{meetingHour}}">
  <option value="0">0.</option>
  <option value="1">1.</option>
  <option value="2">2.</option>
  <option value="3">3.</option>
  <option value="4">4.</option>
  <option value="5">5.</option>
  <option value="6">6.</option>
  <option value="7">7.</option>
  <option value="8">8.</option>
</select>

<p></p>
{{strings["PMI?"]}}<br>
<input type="radio" id="yes" name="pmi" value="yes" onclick="pmi();" required>
<label for="zoom">{{strings["YES"]}}</label><br>
<input type="radio" id="no" name="pmi" value="no" onclick="nopmi();">
<label for="skype">{{strings["NO"]}}</label><br>

<p></p>
{{strings['PICK_A_CONF_APP']}}<br>
<input type="radio" id="zoom" name="confapp" value="zoom" onclick="displayURL('zoom');" required>
<label for="zoom">Zoom Meetings</label><br>
<input type="radio" id="skype" name="confapp" value="skype" onclick="displayURL('skype');">
<label for="skype">Skype</label><br>
<input type="radio" id="jitsi" name="confapp" value="jitsi" onclick="displayURL('jitsi');">
<label for="jitsi">Jitsi</label><br>
<input type="radio" id="webex" name="confapp" value="webex" onclick="displayURL('webex');">
<label for="webex">Cisco Webex</label><br>
<input type="radio" id="gmeet" name="confapp" value="gmeet" onclick="displayURL('gmeet');">
<label for="gmeet">Google Meet</label><br>
<input type="radio" id="msteams" name="confapp" value="msteams" onclick="displayURL('msteams');">
<label for="msteams">Microsoft Teams</label>

<p></p>
Link: <br>
<div id="pmiorurl"></div>

<p></p>
<label>
  <input type="checkbox" name="mandatory" id="mandatory">
  {{strings['NOT_MANDATORY']}}
</label>
<br>
<label>
  <input type="checkbox" name="grading" id="grading">
  {{strings['GRADING']}}
</label>
<br>
<label>
  <input type="checkbox" name="checking" id="checking">
  {{strings['KNOWLEDGE_CHECKING']}}
</label>

<p></p>
<label for="name" >{{strings['MEETING_NAME']}}</label>
<input type="text" id="name" name="name" value="{{meetingName}}" required>

<p></p>
{{strings['MEETING_DESCRIPTION']}}
<br>
<textarea id="desc" name="desc" rows="5" cols="30" ></textarea>

<p></p>
<label for="group">{{strings["GROUP_WITH"]}}</label>
<select id="group" name="group" value="none">
<option value="none">{{strings["NONE"]}}</option>
{% for group in groups %}
  <option value="{{ group.meetingGroup }}">{{ group.meetingGroup }}</option>
{% endfor %}
</select>

<br><p></p>
<input type="submit" name="submit" value="{{strings['SEND']}}">
</form>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>

{% endblock %}
