<style>

    table.coolTable td {
        background-color:white;
        color:black;
    }
    
    table.coolTable td:hover {
        background-color:grey;
        color:black;
    }
    
    a:link {
      text-decoration: none;
    }
    
    .main {
      width: 100%;
      height: 100%;
    }
    
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function myClick(id){
            if ("{{isTeacher}}" == "true"){
              if (id == "") {
                document.location.href = "/meeting/add";
              } else if (id != "") {
                document.location.href = "/meeting/view/"+id;
              }
            } else if (id != "") {
              document.location.href = "/meeting/view/"+id;
            }
        }
    </script>
    
    <br>
    
    <table class="coolTable">
      <tr>
        <th>{{strings["HOUR"]}}</th>
        <th>{{strings["MONDAY"]}} {{dates[0]}}</th>
        <th>{{strings["TUESDAY"]}} {{dates[1]}}</th>
        <th>{{strings["WEDNESDAY"]}} {{dates[2]}}</th>
        <th>{{strings["THURSDAY"]}} {{dates[3]}}</th>
        <th>{{strings["FRIDAY"]}} {{dates[4]}}</th>
        <th>{{strings["SATURDAY"]}} {{dates[5]}}</th>
      </tr>
      {% for i in range(mon|length) %}
      <tr>
        <th>{{i}}.</th>
        <td onclick="javascript:myClick('{{mon[i].id}}');">
          {{ mon[i].name }}
        </td>
        <td onclick="javascript:myClick('{{tue[i].id}}');">
          {{ tue[i].name }}
        </td>
        <td onclick="javascript:myClick('{{wed[i].id}}');">
          {{ wed[i].name }}
        </td>
        <td onclick="javascript:myClick('{{thu[i].id}}');">
          {{ thu[i].name }}
        </td>
        <td onclick="javascript:myClick('{{fri[i].id}}');">
          {{ fri[i].name }}
        </td>
        <td onclick="javascript:myClick('{{sat[i].id}}');">
          {{ sat[i].name }}
        </td>
      </tr>
      {% endfor %}
    </table>

{% if isWeekend %}
    <hr>
    <h1>{{ strings["NEXT_WEEK"] }}</h1>
    <br><table class="coolTable">
      <tr>
        <th>{{strings["HOUR"]}}</th>
        <th>{{strings["MONDAY"]}} {{nextdates[0]}}</th>
        <th>{{strings["TUESDAY"]}} {{nextdates[1]}}</th>
        <th>{{strings["WEDNESDAY"]}} {{nextdates[2]}}</th>
        <th>{{strings["THURSDAY"]}} {{nextdates[3]}}</th>
        <th>{{strings["FRIDAY"]}} {{nextdates[4]}}</th>
        <th>{{strings["SATURDAY"]}} {{nextdates[5]}}</th>
      </tr>
      {% for i in range(monnext|length) %}
      <tr>
        <th>{{i}}.</th>
        <td onclick="javascript:myClick('{{monnext[i].id}}');">
          {{ monnext[i].name }}
        </td>
        <td onclick="javascript:myClick('{{tuenext[i].id}}');">
          {{ tuenext[i].name }}
        </td>
        <td onclick="javascript:myClick('{{wednext[i].id}}');">
          {{ wednext[i].name }}
        </td>
        <td onclick="javascript:myClick('{{thunext[i].id}}');">
          {{ thunext[i].name }}
        </td>
        <td onclick="javascript:myClick('{{frinext[i].id}}');">
          {{ frinext[i].name }}
        </td>
        <td onclick="javascript:myClick('{{satnext[i].id}}');">
          {{ satnext[i].name }}
        </td>
      </tr>
      {% endfor %}
    </table>

{% endif %}