<!DOCTYPE html>
<html lang="sl-SI">
<title>MeetPlan</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', path='css/w3css/w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='fonts/Raleway.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/fontawesome5/css/all.css') }}">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.en-US, .sl-SI { display:none; } /* hide all elements with a language class */
.en-US:lang(en-US), .sl-SI:lang(sl-SI) { display:block; } /* show those elements that match their language class */

tr, td {
  width: 150px;
  text-align: center;
  padding: 5px;
}
</style>
<body class="w3-light-grey">

<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">MeetPlan</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:4;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="{{ url_for('static', path='img/avatar-male.png') }}" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span id="hello">{{strings["HELLO"]}}<strong>{{name}}</strong></span><br>
      <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-sign-out-alt"></i></a>
      <a href="/user/settings" class="w3-bar-item w3-button"><i class="fa fa-user-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>{{strings["DASHBOARD"]}}</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{{ url_for('dashboard') }}" class="w3-bar-item w3-button w3-padding"><i id="overview" class="fa fa-users fa-fw"></i>  {{strings["OVERVIEW"]}}</a>
    {% if role=="admin" %}
      <a href="{{ url_for('addClass') }}" class="w3-bar-item w3-button w3-padding"><i id="addclass" class="fa fa-school fa-fw"></i>  {{strings["ADD_CLASS"]}}</a>
      <a href="{{ url_for('addGroup') }}" class="w3-bar-item w3-button w3-padding"><i id="addclass" class="fa fa-school fa-fw"></i>  {{strings["ADD_GROUP"]}}</a>
      <a href="{{ url_for('allUsers') }}" class="w3-bar-item w3-button w3-padding"><i id="allusers" class="fa fa-users-cog fa-fw"></i>  {{strings["ALL_USERS"]}}</a>
      <a href="{{ url_for('settings')}}" class="w3-bar-item w3-button w3-padding"><i id="settings" class="fa fa-cog fa-fw"></i>  {{strings["SETTINGS"]}}</a>
    {% endif %}
    {% if role=="admin" or role=="teacher" %}
      <a href="{{ url_for('allMeetings') }}" class="w3-bar-item w3-button w3-padding"><i id="allmeetings" class="fa fa-chalkboard-teacher fa-fw"></i>  {{strings["ALL_MEETINGS"]}}</a>
      <!--<a href="{{ url_for('meetingPicker') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Dodaj srečanje</a>-->
    {% endif %}
    {% if role == "admin" %}
      <p></p><br><p></p>
      <b class="w3-padding w3-bar-item"><i class="fa fa-exclamation-triangle fa-fw"></i>  {{strings["DANGER_ZONE"]}}</b>
      <a href="{{ url_for('update') }}" class="w3-bar-item w3-button w3-padding"><i id="update" class="fa fa-wrench fa-fw"></i>  {{strings["UPDATE"]}}</a>
      <a href="{{ url_for('export') }}" class="w3-bar-item w3-button w3-padding"><i id="update" class="fa fa-database fa-fw"></i>  {{strings["DATABASE_EXPORT"]}}</a>
    {% endif %}
    <br><br>
  </div>
</nav>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;margin-top:43px;">

<!-- Header -->
<header class="w3-container" style="padding-top:22px">
  <h5><b><i class="fa fa-dashboard"></i> {{strings["CONTROL_PANEL"]}}</b></h5>
</header>

{% block body %}{% endblock %}
</div>