<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

tr, td {
  width: 150px;
  text-align: center;
  padding: 5px;
}
</style>
<body class="w3-light-grey">

<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">MeetPlan</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:4;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="https://w3schools.com/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Pozdravljeni, <strong>{{name}}</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Nadzorna plošča</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{{ url_for('main.dashboard') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Pregled</a>
    {% if role=="admin" %}
      <a href="{{ url_for('main.addClass') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Dodaj razred</a>
    {% endif %}
    {% if role=="admin" or role=="teacher" %}
      <!--<a href="{{ url_for('main.meetingPicker') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Dodaj srečanje</a>-->
    {% endif %}
    <a href="{{ url_for('main.settings')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Nastavitve</a><br><br>
  </div>
</nav>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
      <div class="w3-red">
        Opozorilo: {{ message }}
      </div>
      {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</div>