{% extends "base.html" %}

{% block body %}
<div class="w3-container">

<form method="post">
<label for="class">{{strings["PICK_A_CLASS"]}}</label>
<select id="class" name="class">
{% for class in classes %}
  <option value="{{ class.name }}">{{ class.name }}</option>
{% endfor %}
</select>
<input type="submit" name="submit" value="{{strings['SEND']}}">
</form>

<br>

{% include 'baseDate.html' %}

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
{% endblock %}