{% extends "base.html" %}

{% block body %}
<!-- !PAGE CONTENT! -->
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Nadzorna plošča</b></h5>
  </header>

<div class="w3-container">

<form method="post">
<label for="class">Izberite razred:</label>
<select id="class" name="class">
{% for class in classes %}
  <option value="{{ class.name }}">{{ class.name }}</option>
{% endfor %}
</select>
<input type="submit" name="submit" value="Pošlji">
</form>

<br>

{% include 'baseDate.html' %}

<br>
<hr>
<br>
<button><a href="/meeting/add">Add a meeting</a></button>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
{% endblock %}