{% extends "base.html" %}

{% block body %}
<div class="w3-container">

<script>
function selectClass(classname) {
  var classname2 = '?classname=' + classname.value;
  console.log(classname2)
  self.location = classname2;
}
</script>

<select id="class" name="class" onchange="javascript:selectClass(this.options[this.selectedIndex])">
<option value="">{{strings["PICK_A_CLASS"]}}</option>
{% for class in classes %}
  <option value="{{ class.name }}">{{ class.name }}</option>
{% endfor %}
</select>

<br>

{% include 'baseDate.html' %}

{% if classname %}
  <br>
  <a href="/print?classname={{classname}}"><i class="fas fa-print"></i></a>
{% endif %}

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
{% endblock %}