{% extends "base.html" %}

{% block body %}

<div class="w3-container">

    <h1>{{strings['SETTINGS']}}: </h1>
<form method="POST">
<p></p>
{{strings['PICK_A_LANG']}}<br>
<input type="radio" id="en-US" name="lang" value="en-US" required>
<label for="en-US">English (USA) &nbsp; <img src="{{ url_for('static', path='flags/us-flag.png')}}" height=20></label><br>
<input type="radio" id="sl-SI" name="lang" value="sl-SI">
<label for="sl-SI">slovenščina (Slovenija) &nbsp; <img src="{{ url_for('static', path='flags/sl-flag.png')}}" height=20></label><br>

<p></p>
<label for="max">{{strings['PICK_A_MAX']}}</label>
<input type="number" id="maxmeet" name="maxmeet" value="{{max}}" max="15" required>

<br>
<input type="submit" name="submit" value="{{strings['SEND']}}">
</form>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>

{% endblock %}
