{% extends "base.html" %}

{% block body %}

<div class="w3-container">

<form method="post">
<label for="pmi">{{strings["ADD_PMI"]}}</label>
<input type="text" id="pmi" name="pmi" value="{{currentPMI}}"></input>
<input type="submit" name="submit" value="{{strings['SEND']}}">
</form>

<h1> {{strings["ALL_GROUPS"]}} </h1>
<ul>
    {% for group in groups %}
    <li> {{group.meetingGroup}}</li>
    {% endfor %}
  </ul>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>

{% endblock %}
